{% extends '_extended_base.twig' %}

{% block content %}

    <div class="site-content">
        version = {{ version }}<br />
        debug = {{ debug }}<br />
        keywords = {{ keywords }}<br />
        twitter_name = {{ twitter_name }}<br />
        locale = {{ locale }}<br />
        title = {{ title }}<br />
        domain = {{ domain }}
    </div>

{% endblock content %}
